# DB / PostgreSQL CONFIGURATIONS
DB_HOST = postgres
DB_PORT = 5432
DB_USER = admin
DB_PASS = 123456
DB_NAME = newsAPIgateway

# APP CONFIGURATIONS
APP_SECRET = 3QANyH2zMoHrfxqfRWTLbPM
APP_EXPIRES_IN = 3600
REFRESH_TOKEN_EXPIRES_IN = 604800

# NewsAPI CONFIGURATIONS
NEWSAPI_API_KEY = your_newsapi_api_key